.RootDiv{
    display: flex;
    background-color : #E8E8E8;
}

.menu-bar{
    width: 18%;
    height: 20%;
    border-right: 0.2px solid lightgray;
    margin-left: 30px;
}

.blog-title{
    width: 100%;
    font-size: 25px;
    margin-top :25px;
    padding-left: 25px;
}

.category{
    font-size: 18px;
    margin-top :15px;
    padding-left: 25px;
    color:black;
}

.a-color{
    text-decoration: none;
    text-decoration-line:none;
    color: black;
}

a:hover { text-decoration:none !important }
a:hover { text-decoration-color:black }

.category:hover {font-weight: bold }


.content-side{
    width: 83%;
    height: 100%;
}

.board-block{
    width: 90%;
    background-color: white;
    border: 0.2px solid lightgray;
    margin: auto;
    padding: 15px;
}

.board-block-full{
    width: 95%;
    background-color: white;
    border: 0.2px solid lightgray;
    margin: auto;
    padding: 15px;
}

.tag-box{
    background-color: lightgray;
    border-radius: 7px;
    margin: 0.3%;
    font-weight: bold;
    padding: 0.4%;
}

.comment-side{
    width: 95%;
    height: 100%;
    background-color: white;
    margin: auto;
}

.comment-side-headline{
    border: 0.2px solid lightgray;
    width: 100%;
    display: flex;
    padding: 15px;
    font-weight: bold;
    font-size: 25px;
}

.comment-block-outer{
    display: flex;
    background-color: #E8E8E8;

}

.comment-block{
    width: 100%;
    background-color: white;
    border-bottom: 0.2px solid lightgray;
    border-side: 0.2px solid lightgray;
    padding: 35px;
}

.comment-block-reply{
    width: 98%;
    background-color:#F9F6F3;
    border-bottom: 0.2px solid lightgray;
    margin-left: 2%;
    padding: 35px;
}

.comment-block-reply-front-block{
    width: 35px;
}

.comment-block-reply-front-image{
    align-content: end;
    align-self: center;
    width: 2%;
    height: 2%;
}

.comment-content{
    width: 80%;
}

.comment-content-outer{
    width: 100%;
    display: flex;
}

.comment-modify-block{
    width:20%;
    display: inline-block;
    text-align: right;
}

.comment-modify-buttons{
    width: 30%;
    margin:1%;
    background-color: darkgray;
    font-weight: bold;
    border: none;
    border-radius: 7px;
}

.comment-headline{
    display: flex;
}

.comment-headline-text-writer{
    width: 80%;
}

.comment-headline-text-date{
    width: 20%;
    text-align: right;
}

.comment-write-block{
    background-color: white;
    margin: 2%;
}

.comment-write-bottom{
    display: flex;
}

.comment-write-info{
    width: 88%;
    display: flex;
    padding-left: 0.5%;
}

.comment-write-content{
    padding : 2%;
    width: 98%;
    margin: 1%;
    height: 150px;
    resize:none;
}

.comment-block-update{
    width: 100%;
    height: 100%;
    display: flex;
}

.comment-write-name{
    width: 15%;
    margin: 1%;
}
.comment-write-password{
    width: 15%;
    margin: 1%;
}

.comment-write-submit-button{
    width: 9%;
    margin: 1%;
    display: inline-block;
    vertical-align: middle;
    background-color: darkgray;
    font-weight: bold;
    border: none;
    border-radius: 7px;
}

.content:hover{background-color:gainsboro}

.content-side-headline{
    text-align: center;
    width: 90%;
    background-color: lightgray;
    border: 0.2px solid lightgray;
    margin: auto;
    padding: 15px;
}

.board-headline{
    width: 100%;
    display: flex;
}

.board-headline-title{
    width: 80%;
    font-size:25px;
    margin:0px;
    padding : 5px;
}

.board-headline-date{
    width: 20%;
    margin:0px;
    font-size:15px;
    text-align: right;
    padding: 15px;
}

.board-tagline{
    width: 80%;
    padding-left: 15px;
    margin:0px;
    display: flex;
}

.board-tagline-tag{
    margin:9px;
}

.board-content{
    width: 70%;
    margin-top: 35px;
    align-content: center;
    padding: 10px;
}

.page-number-div-outer{
    width: 100%;
    margin-bottom: 150px;
    margin-top:50px;
    text-align: center;
}

.page-number-div-inner{
    display: inline-block;
}

.page-number-div-list{
    display: inline-block;
}

.page-number{
    color: black;
    margin:20px;
    width: 3%;
    height: 3%;
}

.page-next{
    width: 20px;
    height: 20px;
    text-align: center;
}


